@import url('https://fonts.googleapis.com/css?family=Sarabun');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sarabun';
}

body {
    background: url('background.png') center/cover no-repeat fixed;
    height: 100vh;  /* Makes sure the body covers the full screen */
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #1c3e69;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* Styling for the navigation links */
.navigation a {
    position: relative;
    font-size: 2.5em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}

/* Styling for the login button */
.navigation .btnLogin-popup {
    width: 190px;
    height: 85px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}

.container {
    position: absolute; /* Makes sure the button spans the full viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; /* Keep it centered initially */
    padding-right: 2400px;
    padding-top: 450px; /* Push the button down from the center */
}

.btnStart {
    width: 300px;
    height: 120px;
    background-color: #1e3b5b; /* Set background color to #162938 */
    border: none;
    color: white;
    font-size: 3em;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 50px;
}

/* Hover effect for the Start button */
.btnStart:hover {
    background-color: #1e3b5b; /* Slightly lighter shade of #162938 */
}
